
<div class='content_title'>/workitems/<%= h @workitem.id %></div>

<table>
  <%= render :partial => 'shared/workitem_header', :locals => { :workitem => @workitem } %>
  <tr class="nhover">
    <td>fields</td>
    <td><pre><%= h @workitem.field_hash.to_json.gsub(/,/, ",\n") %></pre></td>
  </tr>
  <tr>
    <td colspan='2'>
      save |
      proceed |
      <%= link_to 'back', :back %>
    <td>
  </tr>
</table>

