
<div class='content_title'>/workitems</div>

<table class='coll' style="width: 100%;">
  <tr class="nhover">
    <th class="wfid">id</th>
    <th class="expid">workflow</th>
    <th class="branches">br</th>
    <th></th>
  </tr>
<% for workitem in @workitems %>
  <tr class="process">
    <td class="wfid"></td>
  </tr>
<% end -%>
</table>

