
<tr>
  <td class="wide-first-col">wfid</td>
  <td><%= h process.wfid %></td>
</tr>
<tr>
  <td>workflow</td>
  <td><%= h process.wfname %> <%= h process.wfrevision %></td>
</tr>
<tr>
  <td>errors</td>
  <td><%= link_to process.errors.size.to_s, errors_path(process.wfid) %></td>
</tr>

