
<script src="/javascripts/ruote-forms.js"></script>

<script>

  linkToCss('ruote-forms');

  function swapForm () {

    var fta = byId('fields_ta');
    var ffl = byId('fields');

    var frf = byId('fields_rf');
    var brf = byId('rf_buttons');

    if (fta.style.display == 'block') {
      RuoteForms.renderForm('rform', fluoFromJson(ffl.value));
      fta.style.display = 'none';
      frf.style.display = 'block';
      brf.style.display = 'inline';
    }
    else {
      ffl.value = RuoteForms.toJson('rform');
      fta.style.display = 'block';
      frf.style.display = 'none';
      brf.style.display = 'none';
    }
  }

</script>

<div class="fieldhead">
  <span class="fh_left">
    fields (<a href="" onclick="swapForm(); return false;">swap</a>)
  </span>
  <span id="rf_buttons" class="fh_right">
    <a href="" onclick="RuoteForms.resetForm('rform'); return false;">reset</a> |
    <a href="" onclick="RuoteForms.undo('rform'); return false;">undo</a>
  </span>
</div>

<div id="fields_ta" style="display: none;">
  <textarea id="fields" name="<%= textarea_name ||= 'fields' %>"><%= fields.to_json -%></textarea>
</div>

<div id="fields_rf">
  <div id="rform"></div>
</div>

<script>

  byId('<%= form_id ||= 'workitem_form' %>').onsubmit = function () {
    swapForm();
    return true;
  };

  RuoteForms.renderForm('rform', <%= fields.to_json %>);

</script>

