<p>
  <b>Name:</b>
  <%=h @definition.name %>
</p>

<p>
  <b>Uri:</b>
  <%=h @definition.uri %>
</p>


<%= link_to 'Edit', edit_definition_path(@definition) %> |
<%= link_to 'Back', definitions_path %>
