
<div class='content_title'>/processes/<%= h @process.wfid %>/edit</div>

<table>
  <%= render :partial => 'shared/process_header', :locals => { :process => @process } %>
  <tr>
    <td>0</td>
    <td>1</td>
  </tr>
  <tr>
    <td colspan='2'>
      <%= link_to_if current_user.is_launcher?(@process), 'abort', process_path(@process.wfid), :confirm => 'Are you sure ?', :method => :delete %> |
      <%= link_to 'back', :back %>
    <td>
  </tr>
</table>

